# Dependencies
node_modules/

# Production builds
/frontend/build
dist/

# Environment files
.env
.env.*
*.env
*.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem

# IDE
.idea/
.vscode/

# Deployment
.vercel

# Testing
/coverage

# Misc
.cache/
-e 
# Environment files
*.env
*.env.*
